<h1>Dragonball Page</h1>
<hr>
<section class="row">
	<div class="col-12 col-sm-6">
		<h3>Agregar personaje:</h3>
		<input type="text" class="form-control" placeholder="Nombre" />
		<input type="number" class="form-control mt-2" placeholder="Poder" />
		<button class="mt-2 btn btn-primary">
			Añadir
		</button>
	</div>

	<div class="col-12 col-sm-6">
		<h3>Listado de personajes:</h3>
		<ul>
			@for( character of characters(); track character.id; let idx = $index, e = $even  ) {
				<li>
					<span>{{ idx + 1 }} - {{ character.name }}</span>
					<strong
						[class.text-danger]="character.power > 80000"
						[class.text-primary]="character.power < 80000"
					>
						({{ character.power }})
					</strong>
				</li>
			}
		</ul>
	</div>
</section>
